<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Todolist">
    <meta name="keywords" content="Todo, Todolist"> 
    <meta name="author" content="Daniel Mestan">
    <meta http-equiv="refresh" content="30">
    <title>{% block sitetitle %}Todolist{% endblock %}</title>
</head>
<body>
    <header>
        {% block header %}
        <a href="overview"><h1>TO-DO</h1></a>
        <nav>
            <ul>
                <li><a href="/todolist/add" id="add_link">New Entry</a></li>
                <li><a href="/todolist/logout" id="logout_link">Logout</a>
            </ul>
        </nav>
        {% endblock %}
    </header>
    <div id="content">
         {% block content %}
         {% endblock %}
    </div>
</body>
</html>