{% extends 'base.html' %}

{% block sitetitle %}Login{% endblock  %}

{% block header %}
        <a href="login"><h1>TO-DO</h1></a>
{% endblock %}

{% block content %}

{% if form.errors %}
	<p>Die Kombination aus Benutzername und Passwort ist falsch!</p>
{% endif %}
	<h2>Please log yourself in</h2>
	<img src="http://i3.kym-cdn.com/entries/icons/original/000/008/549/Naamloos-2.png"></img>
	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{{ form.as_ul }}
		{% csrf_token %}
		<input type="submit" value="Einloggen" />
		<input type="hidden" name="next" value="overview" />
	</form>
{% endblock %}