$body-background-color: blue;
$font-family: Arial, sans-serif;
$body-text-color: white;

body {
	background-color: $body-background-color;
	font-family: $font-family;
	color: $body-text-color;
}

article{
	h1{	
	}
	p.subtitle{
	}
	p.description{
	}
	nav{
		ul{
			li{
				a{
				}
			}
		}
	}
}


